<!DOCTYPE html>
<html lang="en">
<body style="margin: 0; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif; max-width: 620px; margin: 0 auto; margin-bottom: 30px;">
    <div style="text-align: center; margin-top: 30px;">
        <img src="https://i.postimg.cc/1X6kqZNN/logo.png" alt="Swift Stock" style="max-width: 100%;">
        <h1 style="font-size: 1.3rem; color: #3026DC; margin-bottom: 3rem;">NOTIFICAÇÃO DE LANÇAMENTO</h1>
    </div>

    <p style="color: #4E4E4E; font-size: 0.9rem; margin-bottom: 1rem; line-height: 150%;">
        Prezado {{.Name}},
    </p>
    <p style="color: #4E4E4E; font-size: 0.9rem; margin-bottom: 1rem; line-height: 150%;">
        É com grande alegria e entusiasmo que anunciamos o lançamento do nosso mais novo aplicativo: o <strong> SwiftStock - a solução definitiva para uma gestão eficiente e inteligente de estoque!</strong>
    </p>
    <p style="color: #4E4E4E; font-size: 0.9rem; margin-bottom: 1rem; line-height: 150%;">
        Sabemos que você compreende a importância de uma gestão de estoque eficaz para o sucesso de um negócio. Portanto, investimos tempo e dedicação para
        desenvolver uma ferramenta que simplificará e aprimorará o controle dos seus produtos de forma ágil e intuitiva.
    </p>

    <p style="color: #4E4E4E; font-size: 0.9rem; margin-bottom: 1rem; line-height: 150%;">
        Entenda como podemos te ajudar:
    </p>

    <!-- Note que foi necessário substituir suas listas por tabelas para melhor compatibilidade com clientes de email -->
    <table style="color: #4E4E4E; padding: 15px; font-weight: 500; line-height: 120%; text-align: center; width: 100%; box-shadow: 0 16px 16px 0 #E7E7E7; border-radius: 8px;">
        <tr>
            <td>
                <span style="font-weight: 700; font-size: 1rem; color: #3026DC;">1</span>
                Cadastro simplificado de produtos
            </td>
            <td>
                <span style="font-weight: 700; font-size: 1rem; color: #3026DC;">2</span>
                Rastreamento de entradas e saídas
            </td>
            <td>
                <span style="font-weight: 700; font-size: 1rem; color: #3026DC;">3</span>
                Alertas de estoque mínimo para evitar esgotamentos
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight: 700; font-size: 1rem; color: #3026DC;">4</span>
                Interface amigável e de fácil navegação
            </td>
            <td>
                <span style="font-weight: 700; font-size: 1rem; color: #3026DC;">5</span>
                Melhoria Contínua
            </td>
            <td>
                <a href="https://www.swiftstock.com.br/#advantages" target="_blank" style="font-size: 2rem; text-decoration: none; color: #3026DC;">+</a>
            </td>
        </tr>
    </table>

    <p style="color: #4E4E4E; font-size: 0.9rem; margin-bottom: 50px; margin-top: 50px; line-height: 150%;">
        Ficaremos muito felizes em receber o seu feedback e tirar qualquer dúvida que possa surgir. Estamos ansiosos para ajudá-lo a obter o máximo de benefícios com a SwiftStock.
    </p>

    <a href="https://swiftstock.com.br/#assignature" target="_blank" style="display: block; width: 100%; padding: 20px; background-color: #3026DC; text-decoration: none; color: #ffffff; margin-top: 3rem; border-radius: 4px; text-align: center;">
        CONHEÇA NOSSO PLANO MENSAL
    </a>
</body>
</html>
